<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="trace">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="log4j2-[%p] %d %c %l - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</configuration>